# https://wiki.archlinux.org/title/Desktop_entries

[Desktop Entry]

# Application, Link, or Directory
Type=Application

# The name of the application
Name=hello-world-appimage

# A comment which can/will be used as a tooltip
Comment=An AppImage example of Hello World

# The name of the icon that will be used to display this entry
Icon=hello-world-icon

# Describes the categories in which this entry should be shown
# ex: Categories=Education;Languages;Java;
Categories=Education;

# Describes whether this application needs to be run in a terminal or not
Terminal=true

# The path to the folder in which the executable is run
# 	Probably not required for appimages?
# Path=/opt/jmemorise

# The executable of the application, possibly with arguments.
#	Also probably not required for appimages?
# Exec=hello-world.appimage

# The version of the desktop entry specification to which this file complies
# Version=1.0
X-AppImage-Version=0.1.09
