# https://wiki.archlinux.org/title/Desktop_entries

[Desktop Entry]

# Application, Link, or Directory
Type=Application

# The name of the application
Name=hello-world-appimage

# A comment which can/will be used as a tooltip
Comment=An AppImage example of Hello World

# The name of the icon that will be used to display this entry
Icon=hello-world-icon

# Describes the categories in which this entry should be shown
# ex: Categories=Education;Languages;Java;
Categories=Education;

# Describes whether this application needs to be run in a terminal or not
Terminal=true

# The version of the desktop entry specification to which this file complies
# Version=1.0
X-AppImage-Version=0.1.09


# The helloworld.desktop file sets the name of the application to hello-world-appimage, and the icon to hello-world-icon.
# Notably, other entries found in desktop files (such as Exec) are unnecessary for our purposes, and we’ve left them out.

# The path to the folder in which the executable is run
# Path=/opt/hello-world

# The executable of the application, possibly with arguments.
# Exec=hello-world.appimage